---
layout: menu-page
title: About
permalink: about:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <a href='{{ site.website }}'><img src="{{ relativebase }}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <h3>{{site.author}}</h3>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.twitter %}
        <li class="twitter"><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if site.linkedin %}
        <li class="linkedin"><a class="linkedin" href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.github %}
        <li class="github"><a class="github" href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.email %}
        <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
      {% if site.bandcamp %}
        <li class="bandcamp"><a class="bandcamp" href="https://{{site.bandcamp}}.bandcamp.com" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.stackoverflow %}
      <li class="stackoverflow"><a class="stackoverflow" href="https://stackoverflow.com/users/{{site.stackoverflow}}" target="_blank">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
    <section style="margin-top:10vh; width: 33rem; height: 46rem; ">
      <iframe src="/yjhuang_cv1021.pdf" width="100%" height="100%" style="">
      </iframe>
    </section>
    <section >
      Here to read the latest group meet up archive
      <iframe src="https://onedrive.live.com/embed?cid=0FB55663048A4742&amp;resid=FB55663048A4742%211369&amp;authkey=AEe7A-jy3dFhqnA&amp;em=2&amp;wdAr=1.7777777777777777" width="476px" height="288px" frameborder="0">这是嵌入 <a target="_blank" href="https://office.com">Microsoft Office</a> 演示文稿，由 <a target="_blank" href="https://office.com/webapps">Office</a> 提供支持。</iframe>
    </section>

  </div> <!-- End About Container -->
  Last Updated: Nov 04, 2022
</div> <!-- End Small Wrapper -->

