---
layout: menu-page
title: Document
permalink: document:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <h1>Review</h1>
    <section style="margin-top:10vh; width: 60vw; height: 80vw; ">
      <iframe src="/review.pdf" width="100%" height="100%" style="">
      </iframe>
    </section>
    <h1>You can access video through this</h1>
    <section style="margin-top:10vh;">
      <iframe width="450" height="450"
              src="https://www.youtube.com/watch?v=UJ3akL3gH68">
      </iframe>
    </section>
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->

